erer/components/LandingPage.vue将 template 部分修改成如下：

<template>
  <div>
    <v-layout wrap style="height: 200px;">
      <v-container>
        <v-layout justify-center>test</v-layout>
      </v-container>
    </v-layout>
  </div>
</template>

<script>
import SystemInformation from "./LandingPage/SystemInformation";

export default {
  data() {
    return {};
  }
};
</script>

<style>
@import url("https://fonts.cat.net/css?family=Roboto:100,300,400,500,700,900|Material+Icons");

#wrapper {
  height: 100vh;
  padding: 60px 80px;
  width: 100vw;
}

#logo {
  height: auto;
  margin: 20px;
  width: 420px;
}
</style>